@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  max-width: 992px;
  margin: auto;
  display: block;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #a5a3a3; /* Màu của thanh cuộn */
  border-radius: 10px; /* Bo góc */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #918c8c; /* Màu khi hover */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Màu nền của đường cuộn */
  border-radius: 10px; /* Bo góc */
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1; /* Màu của góc scroll ở các phần tử giao nhau */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(29 78 216);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(45, 93, 227);
}

/* animation */
.page-enter {
  opacity: 0;
  transform: translateX(100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 600ms, transform 600ms;
}

.page-exit {
  opacity: 1;
  transform: translateX(0);
}

.page-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 600ms, transform 600ms;
}

/*  */
@keyframes toast-enter {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toast-exit {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.toast-enter {
  animation: toast-enter 0.5s forwards;
}

.toast-exit {
  animation: toast-exit 0.5s forwards;
}
